<div class="fixit">
    <div class="container">
        <div class="row">
            <div class="twelve columns">
                <div class="center">
                    <h2>{{participant.name}}</h2>
                </div>
            </div>
        </div>

        <div class="row">

            <div class="nine columns">
                <h4>Velg inntil 3 etapper, deretter kan du rangere dem  </h4>
                <div ng-repeat="leg in legs">
                    <div class="legselect-leg-container" ng-click="toggleLegSelected(leg)"
                            ng-class="{'legselect-selected': leg.isSelected, 'legselect-disabled': leg.isDisabled}">
                        <div class="legselect-leg-info">
                            <h4 class="legselect-leg-name">Etappe {{leg.name}} - </h4>
                            <h4 class="legselect-leg-name">{{leg.distance}}m</h4>
                        </div>
                        <div class="legselect-leg-info" ng-show="leg.otherPartitipants > 0">
                            <p class="legselect-leg-metainfo">{{leg.otherPartitipants}} andre signet opp på denne etappen</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="three columns">
                <h4>Ranger etapper</h4>
                <ul class="as-sortable-container" as-sortable="sortableOptions" ng-model="participant.selectedLegs" >
                    <li ng-repeat="item in participant.selectedLegs" as-sortable-item class="as-sortable-item">
                        <div as-sortable-item-handle class="as-sortable-item-handle" style="height:50px">
                            <span data-ng-bind="item"></span>
                        </div>
                    </li>
                </ul>
                <h4>Andre som er med:</h4>
                <ul style="list-style: none">
                    <li ng-repeat="name in names">
                        {{name}}
                    </li>
                </ul>
            </div>
        </div>
        <div class="row">
            <div class="twelve columns">
                <button class="button-primary u-pull-right" ng-click="save()">Lagre</button>
            </div>
        </div>
    </div>
</div>