<div class="ngdialog-content">
<h2>Bli med!</h2>
    <form ng-submit="join()">
        <div class="row">
            <p>Skriv inn din Knowit-email-adresse, og du får en mail med en link for påmelding. </p>
        </div>
        <div class="row">
            <div class="twelve columns">
                <label for="email">Din Knowit Email-adresse</label>
                <input class="u-full-width" type="email" ng-model="email" placeholder="ditt.navn@knowit.no" id="email">
            </div>
        </div>
        <div class="row">
            <div class="u-pull-right">
                <button class="ngdialog-button-primary">Bli med!</button>
            </div>
        </div>
    </form>
</div>