@import 'skeleton/skeleton';
@import 'skeleton/normalize.css';
@import 'ngDialog/ngDialog';
@import 'ngDialog/ngDialog-theme-plain';
@import 'spinner';
@import 'legselect';
@import 'dragdrop';
@import 'includes';

@import url(http://fonts.googleapis.com/css?family=Droid+Sans:400,700);
//@primary-color: #fba;
//@link-color: #faa;

@font-family: 'Droid Sans', sans-serif;
h4{
  margin: 0;
  padding: 0;
}

.home{
  background: url('../images/012uMXHJ1oF1.jpg') no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  height:100%;
}

.home-banner{
  height: 30vh;
  display:block;
}

.grey-banner {
  background-color: fade(@background-color, 80%);
  margin:0;
  padding:1rem;
}
h1.home-headline{
  font-size:7rem;
}

.leg-box{
  height: 10rem;
  margin-top: 1rem;
  background-color: fade(@home-tile-background, 80%);
}
a.leg-box-link{
  color: @light-grey;
  text-decoration: none;
}
.leg-box:hover{
  background-color: fade(@home-tile-hover, 70%);
}

.leg-name{
  margin-left: 1rem;
  color: rgba(50, 50, 50, 0.8);
  text-decoration: none;
  display:inline;
}
h4.leg-distance{
  vertical-align: bottom;
  margin:1rem;
  padding:0;
  text-decoration: none;
  display:inline;
}

.center-text{
  text-align: center;
}
.center{
  display:table;
  margin: 0 auto;
}
.vert-center{
  position: relative;
  top: 50%;
  transform: translateY(-50%);
}

img.dialog-image{
  max-width: 100%;
}
button[disabled] {
  background:#ccc;
  border-color: #ccc;
  text-shadow:none;
}
button[disabled]:hover {
  background:#ccc;
  border-color: #ccc;
  text-shadow:none;
}